.modal-background {
  transition: all 0.5s ease-in;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  color: #585858;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease-in-out;
}

.modal-form {
  padding-top: 20px;
}

.modal-form button {
  display: inline-block;
  background-color: #FF5A5F;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 14px 22px;
  margin-bottom: 15px;
  line-height: 24px;
  font-size: 16px;
  width: 500px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;

}

.modal-form .confirm {
  background-color: #008489;
  margin: 0;
}

.modal-form .cancel {
  margin: 0;
}