.reflection {
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0;
    padding-right: 20px;
    overflow: hidden;
}

.beliefs, .needs {
    width: 40%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    margin: 10px 0;
    padding-right: 20px;
    overflow: hidden;
}

.module-label {
  align-self: flex-start;
  margin-left: 40px;
  padding: 10px;
  width: 100px;
  border: 2px solid #a9a9a9;
  border-radius: 0 0 20px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: -1px;
  color: #a9a9a9;
  background: #181818;
}