.adv-feeling {
  display: flex;
}

.adv-feeling-text input:focus {
  outline: none;
}

.feeling-row {
  display: flex;
  align-items: center;
}

.feelings-tracker-label {
  width: 18%;
  text-align: left;
  margin: 0 10px 0 40px;
  padding-top: 30px;
}

.feeling-main {
  display: flex;
  flex-direction: column;
}

.slider-label {
  margin: 0 20px;
}

.add-feeling {
  cursor: pointer;
}

