.slider {
  width: 100%;
  display: flex;
}

.slider-wrapper {
  width: 300px;
  border: 1px solid #a9a9a9;
  box-shadow: 0 3px 1px rgba(0,0,0,0.1),0 4px 8px rgba(0,0,0,0.3),0 0 0 1px rgba(0,0,0,0.02);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.slider-container {
  width: 100%;
  padding: 0 10px;
}

.slider-values {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-bottom: 8px;
}

.slider-value {
  display: flex;
  justify-content: center;
  width: 33%;
  font-size: 12px;
}

